<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label class="col-sm-12 col-md-2 col-form-label">category</label>
<div class="col-sm-12 col-md-10">
    <form method="post" action="{% url 'addjob' %}" enctype="multipart/form-data">
        {% csrf_token %}
								<input class="form-control" type="text" placeholder="job category" name="Job">
    <button type="submit" class="btn btn-primary mr-2 btn1">Submit</button>
        </form>
							</div>
<style>
    .btn1{

    margin-left:400px;
    margin-top:20px;}
</style>

</body>
</html>
{% endblock %}